<ion-view view-title="Item Tracker">
    <ion-content class="padding">
        
<div class="list">
  <label class="item item-input">
    <span class="input-label">Email</span>
    <input type="email">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password">
  </label>

        
        <button class="button button-block button-positive" ui-sref="menu">
          Sign In
        </button>
        <center>If you are not a registered user click below to create an account!</center>
        <button class="button button-block button-positive" ui-sref="menu">
          Create Account
        </button>
        </div>
    </ion-content>
</ion-view>