<ion-view view-title="WanderList Landing"  hide-back-button="true">
  <ion-content class="padding">
    <br>
    <center>
      <a class="button button-icon icon ion-earth"></a>
    </center>
    <div>
    <form name="loginForm" ng-submit="signIn(loginForm)" novalidate>
      <label class="list list-input item-stacked-label" ng-class="{ 'has-errors' : loginForm.email.$invalid && loginForm.$submitted}">
                    <input name="email" type="email" placeholder="Email" ng-model="user.email" required></label>
      <label class="list list-input item-stacked-label" ng-class="{ 'has-errors' : loginForm.password.$invalid && loginForm.$submitted}">
                    <input name="Password" type="password" placeholder="Password" ng-model="user.password" required></label><br>
      <button class="button button-block button-dark" type="submit">
          Sign In
        </button>
    </form>
    </div>

    <center>New User?  Click below!</center>
    <button class="button button-block button-dark" ui-sref="register">
          Register
        </button>
  </ion-content>
</ion-view>
