<ion-view title="Travel Links ">
    
    <ion-content>
        <div class="list list-inset">
            <div clase="item item-divider">
                Flights</div>
            <div class="item">
                <a class="item" href="#" onclick="window.open('https://www.tripadvisor.com/', 'location=yes'); return false;">
              TripAdvisor
            </a><br>
                <a class="item" href="#" onclick="window.open('https://www.skyscanner.com/', '_system', 'location=yes'); return false;">
              Skyscanner
            </a><br>
                <a class="item" href="#" onclick="window.open('https://plus.google.com/+NicRaboy', '_system', 'location=yes'); return false;">
              AMOMA.com
              </div>
        </div>
        </ion-content>
            </a><br>
                <a class="item" href="#" onclick="window.open('http://www.nraboy.com/contact', '_system', 'location=yes'); return false;">
             Viator.com
            </a><br>
                <a class="item" href="#" onclick="window.open('http://www.twitter.com/nraboy', '_system', 'location=yes'); return false;">
              Skyscanner
            </a><br>
                <a class="item" href="#" onclick="window.open('https://plus.google.com/+NicRaboy', '_system', 'location=yes'); return false;">
              GetYourGuide
            </a><br>
                <a class="item" href="#" onclick="window.open('http://www.twitter.com/nraboy', '_system', 'location=yes'); return false;">
              Expedia Activities
            </a><br>
                <a class="item" href="#" onclick="window.open('https://plus.google.com/+NicRaboy', '_system', 'location=yes'); return false;">
              AirBnB</a><br>
                <a class="item" href="#" onclick="window.open('https://plus.google.com/+NicRaboy', '_system', 'location=yes'); return false;">
              HomeAway</a><br>
            </div>
   
</ion-view>