<ion-view title="Travel Links ">
    <ion-content class="padding"><br><br><br>


        <center>
            <div class="item item-divider bar bar-header bar-dark">
                Flights</div>
        </center>
        <a class="item item item-icon-left" href="#" onclick="window.open('https://www.skyscanner.com/', '_system', 'location=yes'); return false;"><i class="icon ion-plane"></i>
              Skyscanner
            </a>
        <a class="item" href="#" onclick="window.open('http://www.theflightdeal.com/', '_system', 'location=yes'); return false;">
              The Flight Deal</a>
               <a class="item" href="#" onclick="window.open('https://skiplagged.com/', '_system', 'location=yes'); return false;">
              SkipLagged</a><br>
              

        <center>
            <div class="item item-divider bar bar-header bar-dark">
                Excursions and SightSeeing</div>
        </center>
        <a class="item item item-icon-left" href="#" onclick="window.open('https://www.viator.com/', '_system', 'location=yes'); return false;"><i class="icon ion-compass"></i>
             Viator.com
            </a>
        <a class="item" href="#" onclick="window.open('https://www.getyourguide.com/', '_system', 'location=yes'); return false;">
        GetYourGuide</a>
        <a class="item" href="#" onclick="window.open('https://www.expedia.com/Activities', '_system', 'location=yes'); return false;">
              Expedia Activities
            </a><br>

        <center>
            <div class="item item-divider bar bar-header bar-dark">
               Budget Acommodations</div>
        </center>
        <a class="item" href="#" onclick="window.open('http://www.amoma.com/', '_system', 'location=yes'); return false;"><i class="icon ion-home"></i>
              Amoma</a>

        <a class="item tem item-icon-left" href="#" onclick="window.open('https://www.airbnb.com/', '_system', 'location=yes'); return false;">
              AirBnB</a>
        <a class="item" href="#" onclick="window.open('https://www.homeaway.com/', '_system', 'location=yes'); return false;">
              HomeAway</a><br>
              
        <div class="item item-divider bar bar-header bar-dark">
               Dining and Entertainment</div>
        </center>
        <a class="item item item-icon-left" href="#" onclick="window.open('https://www.tripadvisor.com/', '_system', 'location=yes'); return false;"><i class="icon ion-pizza"></i>
            Trip Advisor
            </a>
        <a class="item" href="#" onclick="window.open('http://www.yelp.com/', '_system', 'location=yes'); return false;">
        Yelp</a><br>
      
       <ion-content class="padding">
    </ion-content>
</ion-view>