
<ion-view view-title="Saved Lists" ng-controller= "listCtrl" ng-init="init()">
    <ion-content class="padding">
        <div class="list list-inset">


            <!--<input name="name" type="text" ng-model="$scope.lists">-->
            <div>Destinations</div>
            <!--<div> {{$scope.list}} </div>-->
            <form name="destinations" ng-submit="addDestination(destinations)" no validate>
                
                
                <label class="list list-input">
              <input name="list" type="text" ng-model="user.list">
            
        
            
            <button class="button button-block button-dark" ui-sref="register">Add dream location</button>
            <div ng-repeat = "l in lists track by $index">
               <div  class = "button" ng-click = "$parent.removeDestination($index,l)">X</div> {{l.list}} 
            </div>
            </form>
    </ion-content>
</ion-view>